@import './ColorList.scss';
@import './breakpoints.scss';

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html {
    background-color: $WHITE;
}

*, :after, :before {
    box-sizing: border-box;
}

.App{
    // width: 100%;
    height: 100vh;
    // width: 100vw;
    width: 100%;
    border: 1px solid black;
    padding: 5% 5%;
    background-color: $WHITE;


    .c-wrapper{
        position: relative;
        height: 100%;
        // border: 1px solid green;
        border-radius: 16px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
        overflow: hidden;


        .c-wrapper-content{
            position: relative;
            border: 1px solid blueviolet;
            background-color: $WHITE;
        }
    }
}


.c-header{
    // position: relative;
    height: 100px;
    display: flex;
    align-items: center;

    top: 0;
    background-color: $WHITE;
    box-shadow: 0px 0px 6px #00000029;
    z-index: 1000;

    justify-content: space-between;


    .c-navbar-nav{
        position: relative;
        display: flex;
        padding: 0;
        list-style: none;
        flex-direction: row;
        padding: 0px 50px;

        @include media("<tablet") { 
            padding: 0px 25px;
        }

        .navbar-nav-item{
            text-decoration: none;
            
            .navbar-nav-link{
                text-decoration: none;
                color: $GREY1;
                font-size: 16px;
                font-weight: 600;
                margin: 0px 30px;
            }

            .navbar-nav-link.active{
                color: $SECONDARY;
            }
        }
    }

    .txt {
        color: $GREY2;
        font-size: 14px;
        margin-right: 50px;

        @include media("<phone2") { 
            display: none;
        }
    }
}




